@tailwind base;
@tailwind components;
@tailwind utilities;

/* Add the custom scrollbar fix from the App code */
.no-scrollbar::-webkit-scrollbar { display: none; } 
.no-scrollbar { -ms-overflow-style: none; scrollbar-width: none; }